[submodule "ggml"]
    path = ggml
	url = https://github.com/dbrain/ggml.git
[submodule "examples/server/frontend"]
	path = examples/server/frontend
	url = https://github.com/leejet/sdcpp-webui.git
[submodule "thirdparty/libwebp"]
	path = thirdparty/libwebp
	url = https://github.com/webmproject/libwebp.git
[submodule "thirdparty/libwebm"]
	path = thirdparty/libwebm
	url = https://github.com/webmproject/libwebm.git
[submodule "thirdparty/eigen_reference"]
	path = thirdparty/eigen_reference
	url = https://gitlab.com/libeigen/eigen.git
[submodule "thirdparty/flash_attention"]
	path = thirdparty/flash_attention
	url = https://github.com/Dao-AILab/flash-attention.git
