# compiled spike binaries + run artifacts
poc
poc13
kernel_golden
*.o
kg.json
kg.err
*.ncu-rep
*.nsys-rep
attn_golden
attn_prof/
attn.err
nvfp4_repack_golden
cudnn_out/
conv_golden
conv_ggml_baseline
conv_cudnn_out/
combined_out/
decomp_out/
ltx_out/
attn_ltx_golden
attn_ggml_baseline
conv3d_golden
conv3d_ggml_baseline
